{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'youth_churchgoer_list' %}">ChurchGoer Listing</a></p>
<table class="table">
    <tr>
        <td>ID</td><td>Link</td>
        <td>First Name: </td>
        <td>Middle Name: </td>
        <td>Maiden Name: </td>
        <td>Nickname: </td>
        <td>Birthday: </td>
        <td>Guardian's Name: </td>
        <td>Home Church: </td>
        <td>Beargrass Member: </td>
        <td>Address: </td>
        <td>Email: </td>
        <td>School: </td>
        <td>Degrees: </td>
        <td>Employer: </td>
        <td>Gender: </td>
        <td>Facebook: </td>
        <td>Google+: </td>
        <td>Instagram: </td>
        <td>Snapchat: </td>
        <td>Twitter: </td>
        <td>married: </td>
        <td>Spouse's Name: </td>
        <td>Child's Name: </td>
        <td>Surname: </td>
    </tr>
    {% for object in object_list %}
    <tr>
        <td>{{object.pk}}</td>
        <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
        <td>{{ object.first_name }}</td>
        <td>{{ object.middle_name }}</td>
        <td>{{ object.maiden_name }}</td>
        <td>{{ object.nickname }}</td>
        <td>{{ object.birthday }}</td>
        <td>{{ object.name_of_guardian }}</td>
        <td>{{ object.home_church }}</td>
        <td>{{ object.family_are_beargrass_members }}</td>
        <td>{{ object.address }}</td>
        <td>{{ object.email }}</td>
        <td>{{ object.school }}</td>
        <td>{{ object.degree }}</td>
        <td>{{ object.employer }}</td>
        <td>{{ object.gender }}</td>
        <td>{{ object.facebook_URL }}</td>
        <td>{{ object.google_plus_URL }}</td>
        <td>{{ object.instagram_URL }}</td>
        <td>{{ object.snapchat_URL }}</td>
        <td>{{ object.twitter_URL }}</td>
        <td>{{ object.married }}</td>
        <td>{{ object.name_of_spouse }}</td>
        <td>{{ object.name_of_child }}</td>
        <td>{{ object.surname }}</td>
    </tr>
    {% endfor %}
</table><a class="btn btn-primary" href="{% url 'youth_churchgoer_create' %}">Create new ChurchGoer</a>
{% endblock %}