{% extends "planned_parenthood/base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'legislation_list' %}">Legislation Listing</a></p>
<table class="table">
    <tr>
        <td>ID</td><td>Link</td>
        <td>name</td>
        <td>authors</td>
        <td>chamber</td>
        <td>strategic_plan</td>
        <td>effective</td>
        <td>favorable</td>
        <td>is_law</td>
        <td>was_defeated</td>
    </tr>
    {% for object in object_list %}
    <tr>
        <td>{{object.pk}}</td>
        <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
        <td>{{ object.name }}</td>
        <td>{{ object.authors }}</td>
        <td>{{ object.chamber }}</td>
        <td>{{ object.strategic_plan }}</td>
        <td>{{ object.effective }}</td>
        <td>{{ object.favorable }}</td>
        <td>{{ object.is_law }}</td>
        <td>{{ object.was_defeated }}</td>
    </tr>
    {% endfor %}
</table><a class="btn btn-primary" href="{% url 'legislation_create' %}">Create new Legislation</a>
{% endblock %}