{% extends "planned_parenthood/base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'location_list' %}">Location Listing</a></p>
<table class="table">
    <tr>
        <td>ID</td><td>Link</td>
        <td>address</td>
        <td>city</td>
        <td>state</td>
        <td>zip_code</td>
    </tr>
    {% for object in object_list %}
    <tr>
        <td>{{object.pk}}</td>
        <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
        <td>{{ object.address }}</td>
        <td>{{ object.city }}</td>
        <td>{{ object.state }}</td>
        <td>{{ object.zip_code }}</td>
    </tr>
    {% endfor %}
</table><a class="btn btn-primary" href="{% url 'location_create' %}">Create new Location</a>
{% endblock %}