{% extends "planned_parenthood/base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'location_list' %}">Location Listing</a></p>
<table class="table">
    <tr><td>address</td><td>{{ object.address }}</td></tr>
    <tr><td>city</td><td>{{ object.city }}</td></tr>
    <tr><td>state</td><td>{{ object.state }}</td></tr>
    <tr><td>zip_code</td><td>{{ object.zip_code }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Location</a>

{% endblock %}