{% extends "planned_parenthood/base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'staff_list' %}">Staff Listing</a></p>
<table class="table">
    <tr>
        <td>ID</td><td>Link</td>
        <td>credentials</td>
        <td>specialty</td>
        <td>active</td>
    </tr>
    {% for object in object_list %}
    <tr>
        <td>{{object.pk}}</td>
        <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
        <td>{{ object.credentials }}</td>
        <td>{{ object.specialty }}</td>
        <td>{{ object.active }}</td>
    </tr>
    {% endfor %}
</table><a class="btn btn-primary" href="{% url 'staff_create' %}">Create new Staff</a>
{% endblock %}