<!DOCTYPE html>
<html>
<head>
    <title>SoMe Media, LLC</title>
    <link rel="stylesheet" href="/static/main.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{% block content %}
<!-- the layers !-->
<div id="menu-wrap">
    <div class="wrap1">
        <div class="wrap2">
            <div class="wrap3">
                <div class="wrap4">
                    <span class="img1"><img class="orbit orbit-frame" src="images/card18.jpg" alt="card08" /></span>
                    <div class="completer"></div>
                    <div class="completer2"></div>
                    <div class="wrap5">
                        <div class="nav-holder">

                            <ul class="menuBuild">
                                <li>Python</li>
                                    <ul class="sub1"></ul>
                                        <li><a href="">Remote Host Port Scanner</a></li>
                                 <li>Kali Linux</li>
                                    <ul class="sub2"></ul>
                                        <li><a href="">Packet Sniffing</a></li>
                                        <li><a href="">Deauthentication Attacks</a></li>
                                        <li><a href="">WEP Cracking</a></li>
                                        <li><a href="">WPA Cracking</a></li>
                                        <li><a href="">Man-in-the-Middle Attacks</a></li>
                                        <li><a href="">Honeypot Fake Access Points</a></li>
                                        <li><a href="">Cookie Sniffing</a></li>
                                        <li><a href="">DNS Spoofing</a></li>
                                        <li><a href="">Injecting JavaScript / HTML</a></li>
                                        <li><a href="">Additional Client-side Attacks</a></li>
                            </ul>

                        </div><!-- nav holder !-->
                    </div><!-- wrap5 !-->
                </div><!-- wrap4 !-->
            </div><!-- wrap3 !-->
        </div><!-- wrap2 !-->
    </div><!-- wrap1 !-->
</div><!-- menu-wrap !-->
{% endblock %}
</body>
</html>
